name: Build macOS

on:
  workflow_dispatch:
    inputs:
      build_type:
        description: 'Build type'
        required: true
        default: 'release'
        type: choice
        options:
          - debug
          - release

jobs:
  build-macos:
    runs-on: macos-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.2"
          channel: 'stable'

      - name: Get dependencies
        run: |
          flutter pub get
          cd example && flutter pub get

      - name: Build macOS app
        working-directory: example
        run: flutter build macos --${{ inputs.build_type }}

      - name: Run integration tests
        working-directory: example
        run: flutter test integration_test/linux_ocr_test.dart -d macos

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-${{ inputs.build_type }}-build
          path: example/build/macos/Build/Products/${{ inputs.build_type == 'release' && 'Release' || 'Debug' }}/mobile_ocr_example.app
          retention-days: 7
