name: Build iOS

on:
  workflow_dispatch:
    inputs:
      build_type:
        description: 'Build type'
        required: true
        default: 'release'
        type: choice
        options:
          - debug
          - release

jobs:
  build-ios:
    runs-on: macos-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.2"
          channel: 'stable'

      - name: Get dependencies
        run: |
          flutter pub get
          cd example && flutter pub get

      - name: Build iOS
        working-directory: example
        run: flutter build ios --${{ inputs.build_type }} --simulator --no-codesign

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-${{ inputs.build_type }}-build
          path: example/build/ios/iphonesimulator/
          retention-days: 7
